/** primary layout */
/* column */
.fw-nav-card-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* grid */
.fw-nav-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/** nav card */
.fw-nav-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  padding: 6px;
  text-decoration: none;
  position: relative;
  transition: all 0.1s ease;
  text-decoration: none;
}

.fw-nav-card:hover {
  text-decoration: none;
}

.fw-nav-card.flex-center {
  justify-content: center;
}

.fw-nav-card.rounded {
  border-radius: 36px;
}

.fw-nav-card.hover-border:hover {
  text-decoration: none !important;
  box-shadow: 0 0 0 1px #ffffff;
}

.fw-nav-card.scale-image:hover .fw-nav-card-img {
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.fw-nav-card:hover .fw-chevron-right {
  right: 8px;
  opacity: 1;
}

.fw-nav-card-img-wrapper {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 4px;
  overflow: hidden;
}

.fw-nav-card-img-wrapper.small {
  height: 2.5rem;
  width: 2.5rem;
}

.fw-nav-card-img {
  height: 100%;
  width: 100%;
}

.fw-nav-card-img.cover {
  object-fit: cover;
}

.fw-nav-card-img.contain {
  object-fit: contain;
}

.fw-nav-card-label {
  font-size: var(--zen-h5-font-size);
  color: var(--zen-text-color);
  text-decoration: none;
  padding-right: 30px;
}

.fw-nav-card-label.primary {
  color: var(--zen-color-brand-primary);
  font-size: 32px;
  font-weight: 500;
}

.fw-nav-card:hover .fw-nav-card-label.primary {
  color: var(--zen-text-color);
  transition: all 0.1s ease;
}

.fw-chevron-right {
  position: absolute;
  right: 2px;
  opacity: 0;
  color: var(--zen-text-color);
  height: 16px;
  transition: all 0.1s ease;
}

@media (max-width: 768px) {
  .fw-nav-card-label.primary {
    font-size: 24px;
  }

  .fw-nav-card-img-wrapper.small {
    height: 2rem;
    width: 2rem;
  }
}
