.fw-image-card {
  max-height: 250px;
  min-height: 220px;
  width: 100%;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  cursor: pointer;
  background-color: var(--zen-color-brand-primary);
}

.fw-image-card.flex-start {
  justify-content: flex-start;
}

.fw-image-card.flex-center {
  justify-content: center;
}

.fw-image-card.flex-end {
  justify-content: flex-end;
}

.fw-image-card:hover .fw-image-card__bg-image {
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.fw-image-card.hover-opacity:hover .fw-image-card__content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fw-image-card__bg-image {
  height: 100%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* transform: translateX(-10%); */
}

.fw-image-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  z-index: 1;
  color: #fff;
  max-width: 60%;
  width: 50%;
  min-width: fit-content;
}

.fw-image-card__content.text-light {
  color: #fff;
}

.fw-image-card__content.fw-text-primary {
  color: var(--zen-color-brand-primary) !important;
}

.fw-image-card__content.text-dark {
  color: var(--zen-text-color);
}

.fw-image-card__topline {
  font-size: 16px;
  color: inherit;
  font-weight: 700;
  line-height: 1;
}
.fw-image-card__title {
  font-size: 24px;
  color: inherit;
  font-weight: 700;
}

/* @media (max-width: 1300px) {
  .fw-image-card__bg-image {
    transform: translateX(-10%);
  }
}
@media (max-width: 1100px) {
  .fw-image-card__bg-image {
    transform: none;
  }
}
@media (max-width: 900px) {
  .fw-image-card__bg-image {
    transform: translateX(-10%);
  }
}
@media (max-width: 768px) {
  .fw-image-card__bg-image {
    transform: none;
  }
} */

@media (max-width: 768px) {
  .fw-image-card__content {
    max-width: 50%;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .fw-image-card {
    padding: 20px;
  }

  .fw-image-card__bg-image {
    width: 60%;
    object-fit: cover;
  }
}
